@font-face {
    font-family: 'Vintages';
    src: url('Vintages.woff2') format('woff2'),
        url('Vintages.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

